body {
    font-family: Avenir;
    margin: 10px auto 0px auto;
    background: #EDEDED;
}

p {
    font-size: 16px;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:focus {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
    font-style: normal;
}

button {
    width: 27.5px;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: -10px;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 0px;
    background: white;
    text-align: center;
    border-radius: 5px;
    border-color: black;
    /*box-shadow: 3px 3px 2px gray;*/
}

button:focus {
    background: #A8A8A8;
    outline: none;
}

*:focus {
    outline: none;
}

#page_container {
    width: 1100px; 
    margin: 0 auto;
}

#icon {
    display: inline;
    margin-right: 8px;
    margin-top: -45px;
    /*-webkit-filter: drop-shadow(2px 2px 3px gray); */
    /*filter: drop-shadow(2px 2px 3px gray);*/
}

#title {
    display: inline;
    font-family: Superclarendon;
    font-size: 38px;
    /*text-shadow: 2px 2px 3px gray;*/
}

#title_container {
    width: 1050px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 45px;
    vertical-align: bottom;
}

.footer_icon {
    opacity: 0.45;
    margin-left: 3px;
    margin-right: 3px;
}

#footer {
    margin-top: 155px;
    margin-bottom: 50px;
    margin-left: 920px;
}

#button_container {
    width: 1050px;
    margin-left: 35px;
    margin-right: 35px;
}

#chart {
    display: block;
    width: 772px;
    padding: 0px;
    position: absolute;
    top: 465px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: default;
}

canvas {
    border-radius: 5px;
    /*box-shadow: 4px 4px 3px gray;*/
    cursor: crosshair;
}

.container {
    display: inline-block;
    width: 1050px;
    margin-left: 15px;
    margin-right: 15px;
}

#views_left {
    width: 265px;
    float: left;
}

#views_right {
    width: 280px;
    float: left;
}

#view_axial {
  width: 220px;
  height: 220px; 
  margin-bottom: 20px;
}

#view_coronal {
  width: 280px;
  height: 220px;
  margin-left: 0px;
  margin-bottom: 20px; 
}

#view_sagittal {
  width: 264px;
  height: 220px; 
  margin-left: -12px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.view {
  float: left; 
  margin: 10px;
}

.nav-slider-vertical {
  height: 220px;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-slider-horizontal {
  width: 264px;
  margin-top: 13px;
}

#viewer_panel {
    width: 215px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

#layer_list_panel {
    width: 215px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

#layer_list {
    width: 215px;
    margin-left: 10px;
    float: left;
}

#layer_visible_list {
    width: 25px;
    margin-left: 10px;
    float: left;
}


#opacity_panel {
    font-size: 14px;
    clear: left;
    width: 215px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
}

#value_title {
    padding-top: 34px;
}

#value_panel {
    display: inline-block;
    width: 150px;
    height: 21px;
    margin-top: -2px;
    margin-bottom: -2px;
    padding: 2px;
    background: white;
    text-align: center;
    border-radius: 3px;
    cursor: default;
}

#value_data {
    cursor: default;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 2px;
}

#color_palette {
    width: 500px;
}

.visibility_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-right: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.download_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.deletion_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-left: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

#data_panel {
    margin-top: 20px;
    float: left;
    font: 12px;
    margin-left: 10px;
}

.data_display_row {
    padding: 7px 12px 7px 0px;
    margin-left: 10px;
}

ul#layer_list li {
    border-width: 1px 1px 1px 1px;
    height: 32px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    font-size: 12px;
    background: white;
    padding: 2px;
    width: 197px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    /*box-shadow: 3px 3px 2px gray;*/
}

.layer_label {
    float: left;
    width: 150px;
    margin-top: 3px;
    margin-bottom: -2px;
    padding: 2px;
    border-radius: 3px;
}

ul#layer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.selected {
    border-radius: 3px;
    /*box-shadow: 0 1px 0 0 black;
    box-shadow: 0 -1px 0 0 black; 
    box-shadow: -1px 0 0 0 black;
    box-shadow: 1px 0 0 0 black;
    box-shadow: 0 0 0 1px black; */
}

#opacity {
    width: 190px;
}

.slider {
    background: white;
    color: gray;
    border-color: black;
    /*box-shadow: 3px 3px 2px gray;*/
    cursor: pointer;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 135%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -90px;
  padding: 12px;
  width: 180px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: none;
  /*background-color: hsla(0, 0%, 20%, 0.9);*/
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 8px solid #BABABA;
  border-top: 8px solid #BABABA;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}