*:focus {
    outline: none;
}

body {
    font-family: Avenir;
    margin: 10px auto 0px auto;
    background: #f8f7f7;
}

p {
    font-size: 16px;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #3b3b3b;
    font-style: normal;
}

a:focus {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
    font-style: normal;
}

button {
    width: 27.5px;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: -10px;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 0px;
    color: white;
    background: #524c4e;
    text-align: center;
    border-radius: 5px;
    border: none;
    /*box-shadow: 3px 3px 2px gray;*/
}

button:hover {
    background: #3b3b3b;
    outline: none;
}

button:focus {
    background: #3b3b3b;
    outline: none;
}

.view_button {
  width: 331px;
  margin: 6px;
  margin-top: 8px;
  display: inline;
}

.view_button:hover {
  background: #3b3b3b;
}

.view_button:focus {
  background: #3b3b3b;
}

.n_domains {
  font-size: 9px;
  width: 18px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin: -1px;
  border-radius: 5px;
  background: gray;
  border: none;
  color: white;
  text-align: center;
  /*outline: none;*/
  /*border: none;*/
}

.n-domains:hover {
  background: black;
}

#button_container {
  display: inline-block;
  margin-left: 233px;
}

.n_domain_slider {
  display: inline-block;
  -webkit-appearance: none;
  height: 22px;
  border-radius: 5px;  
  background: #bababa;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 6px;
  margin-right: 0px;
  cursor: pointer;
}

.n_domain_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px; 
  background: #4f4f4f;
  cursor: grab;
}

.n_domain_slider::-webkit-slider-thumb:hover {
  background: #3b3b3b;
}

.n_domain_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: gray;
  cursor: grab;
}

.n_domain_slider::-moz-range-thumb:hover {
  background: #3b3b3b;
}

#domain_slider_n {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  padding: 2px;
  width: 45px;
  height: 23px;
  text-align: center;
  background: white;
  border: 2px solid #bababa;
  border-radius: 5px;
  margin-top: -23px;
  margin-left: 432px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
  cursor: pointer;
  margin: 0;
}


#page_container {
    width: 1050px; 
    margin: 0 auto;
}

#icon {
    float: left;
    margin-right: 8px;
    margin-top: -8px;
    margin-left: 40px;
    opacity: 0.6;
    width: 65px;
    height: 65px;
    /*-webkit-filter: drop-shadow(2px 2px 3px gray); */
    /*filter: drop-shadow(2px 2px 3px gray);*/
}

#title {
    display: inline;
    font-family: Avenir;
    font-size: 16px;
    color: gray;
    margin-top: 75px;
    margin-left: 10px;
    letter-spacing: 5px;
    font-weight: bold;
    /*text-shadow: 2px 2px 3px gray;*/
}

#title_container {
    width: 1050px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 45px;
    vertical-align: bottom;
}

#intro_container {
  float: left;
}

.intro_text {
  letter-spacing: 2px;
  font-size: 12px;
  color: gray;
}

.footer_icon {
    opacity: 0.45;
    margin-left: 3px;
    margin-right: 3px;
}

.footer_icon:hover {
  opacity: 0.95;
}

.foot_icon:focus {
  opacity: 0.95;
}

#footer {
    position: relative;
    margin-top: 255px;
    margin-bottom: 50px;
    margin-left: 940px;
}

#chart {
    display: block;
    width: 772px;
    padding: 0px;
    position: absolute;
    top: 425px;
    margin-left: 55px;
    margin-right: 25px;
    cursor: default;
}

.subchart {
    display: none;
    width: 193px;
    height: 130px;
    padding: 0px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    cursor: default;
}

canvas {
    border-radius: 5px;
    /*box-shadow: 4px 4px 3px gray;*/
    cursor: crosshair;
}

.container {
    display: inline-block;
    width: 1050px;
    margin-left: 20px;
    margin-right: 0px;
}

#views_left {
    width: 265px;
    float: left;
}

#views_right {
    width: 280px;
    float: left;
}

#view_axial {
  width: 220px;
  height: 220px; 
  margin-bottom: 20px;
}

#view_coronal {
  width: 280px;
  height: 220px;
  margin-left: 0px;
  margin-bottom: 20px; 
}

#view_sagittal {
  width: 264px;
  height: 220px; 
  margin-left: -12px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.view {
  float: left; 
  margin: 10px;
}

.nav-slider-vertical {
  height: 220px;
  margin-left: 10px;
  margin-right: 12px;
}

.nav-slider-horizontal {
  width: 264px;
  margin-top: 10px;
}

#viewer_panel {
    width: 215px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

#layer_list_panel {
    width: 215px;
    margin-left: 0px;
    float: left;
    cursor: pointer;
}

#layer_list {
    width: 215px;
    margin-left: 0px;
    float: left;
}

#layer_visible_list {
    width: 25px;
    margin-left: 0px;
    float: left;
}

#opacity_panel {
    font-size: 14px;
    clear: left;
    width: 220px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
}

#value_title {
    padding-top: 34px;
    margin-left: -15px;
}

#value_panel {
    display: inline-block;
    width: 198px;
    height: 45px;
    margin-top: -2px;
    margin-bottom: 100px;
    margin-left: -17px;
    padding: 2px;
    padding-top: 2px;
    background: white;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #bababa;
    cursor: default;
}

#value_data {
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 2px;
    cursor: default;
}

#value_data_swatch {
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 6px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 5px;
}

#color_palette {
    width: 500px;
}

.visibility_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-right: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.download_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.deletion_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-left: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

#data_panel {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
    font: 12px;
    border: 2px solid #bababa;
}

.data_display_row {
    padding: 7px 12px 7px 0px;
    margin-left: 10px;
}

ul#layer_list li {
    border-width: 1px 1px 1px 1px;
    height: 35px;
    border-style: solid;
    border: 2px solid #bababa;
    border-radius: 5px;
    font-size: 12px;
    background: white;
    padding: 2px;
    width: 198px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    /*box-shadow: 3px 3px 2px gray;*/
}

.layer_label {
    float: left;
    width: 150px;
    margin-top: 3px;
    margin-bottom: -2px;
    padding: 2px;
    border-radius: 3px;
}

ul#layer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.selected {
    border-radius: 3px;
    /*box-shadow: 0 1px 0 0 black;
    box-shadow: 0 -1px 0 0 black; 
    box-shadow: -1px 0 0 0 black;
    box-shadow: 1px 0 0 0 black;
    box-shadow: 0 0 0 1px black; */
}

#opacity {
    width: 190px;
}

.slider {
    background: white;
    color: gray;
    border: 2px solid #ababab;
    /*box-shadow: 3px 3px 2px gray;*/
    cursor: pointer;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 43px;
  margin-bottom: 5px;
  margin-left: -57px;
  padding: 12px;
  width: 180px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: none;
  /*background-color: hsla(0, 0%, 20%, 0.9);*/
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 41px;
  margin-left: 24px;
  width: 0;
  border-top: 8px solid #bababa;
  border-top: 8px solid #bababa;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#hierarchy {
  margin-top: -200px;
  margin-bottom: -200px;
}

.node {
  cursor: pointer;
}

.node text {
  display: inline;
}

.link {
    fill: none;
}

img {
  opacity: 1;
}

.brain {
  transition: all .2s ease-in-out;
}

.brain:hover {
  transform: scale(5) translateX(5px);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.word {
  transition: all .2s ease-in-out;
  border-radius: 5px;
  opacity: 0.7;
}

.word:hover {
  transform: scale(5) translateX(-10px);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  opacity: 1;
}