body {
    font-family: Avenir;
    margin: 10px auto 0px auto;
    background: #EDEDED;
}

p {
    font-size: 16px;
}

button {
    width: 27.5px;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: -10px;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 0px;
    background: white;
    text-align: center;
    border-radius: 5px;
    border-color: black;
    box-shadow: 3px 3px 2px gray;
}

button:focus {
    background: #A8A8A8;
}

#icon {
    display: inline;
    margin-right: 12px;
    margin-top: -25px;
    -webkit-filter: drop-shadow(2px 2px 3px gray); 
    filter: drop-shadow(2px 2px 3px gray);
}

#title {
    display: inline;
    font-family: Superclarendon;
    text-shadow: 2px 2px 3px gray;
}

#title_container {
    width: 1050px;
    margin-left: 64px;
    margin-right: 64px;
}

#button_container {
    width: 1050px;
    margin-left: 64px;
    margin-right: 64px;
}

#chart {
    width: 810px;
    margin-left: 45px;
    margin-right: 45px;
    padding: 5px;
    position: absolute;
    top: 470px;
    cursor: default;
}

canvas {
    border-radius: 5px;
    box-shadow: 4px 4px 3px gray;
    cursor: crosshair;
}

.container {
    display: inline-block;
    width: 1050px;
    margin-left: 40px;
    margin-right: 40px;
}

#views_left {
    width: 265px;
    float: left;
}

#views_right {
    width: 280px;
    float: left;
}

#view_axial {
  width: 220px;
  height: 220px; 
  margin-bottom: 20px;
}

#view_coronal {
  width: 280px;
  height: 220px;
  margin-left: 0px;
  margin-bottom: 20px; 
}

#view_sagittal {
  width: 264px;
  height: 220px; 
  margin-left: -12px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.view {
  float: left; 
  margin: 10px;
}

.nav-slider-vertical {
  height: 220px;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-slider-horizontal {
  width: 264px;
  margin-top: 13px;
}

#layer_panel {
    width: 215px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

#layer_settings_panel {
    font-size: 14px;
    clear: left;
    width: 215px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
}

#layer_list_panel {
    width: 215px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

#layer_list {
    width: 215px;
    margin-left: 10px;
    float: left;
}

#layer_visible_list {
    width: 25px;
    margin-left: 10px;
    float: left;
}

#color_palette {
    width: 500px;
}

.visibility_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-right: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.download_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

.deletion_icon {
    width: 18px;
    height: 18px;
    float: left;
    text-align: center;
    margin-left: 2px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: white;
}

#data_panel {
    margin-top: 20px;
    float: left;
    font: 12px;
    margin-left: 10px;
}

.data_display_row {
    padding: 7px 12px 7px 0px;
    margin-left: 10px;
}

ul#layer_list li {
    border-width: 1px 1px 1px 1px;
    height: 32px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    font-size: 12px;
    background: white;
    padding: 2px;
    width: 197px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    box-shadow: 3px 3px 2px gray;
}

.layer_label {
    float: left;
    width: 150px;
    margin-top: 3px;
    margin-bottom: -2px;
    padding: 2px;
    border-radius: 3px;
}

ul#layer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.selected {
    border-radius: 3px;
    box-shadow: 0 1px 0 0 black; /* Border bottom */
    box-shadow: 0 -1px 0 0 black; /* Border top */
    box-shadow: -1px 0 0 0 black; /* Border left */
    box-shadow: 1px 0 0 0 black; /* Border right */
    box-shadow: 0 0 0 1px black; /* All the borders by using the spread properties */
}

#opacity {
    width: 190px;
}

.slider {
    background: white;
    color: gray;
    border-color: black;
    box-shadow: 3px 3px 2px gray;
    cursor: pointer;
}
